<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="username" value="sa"/>
      <add key="password" value="modomixto"/>
      <add key="servidor" value="CRUZ2-THINK"/>
      <add key="nombreBd" value="DBCajaCuentas2"/>
      <add key="configPath" value ="c:\Users\cruz\Documents\Visual Studio 2017\Projects\WindowsFormsApp10\WindowsFormsApp10\bin\Debug\WindowsFormsApp10.exe.config"/>
  </appSettings>
</configuration>